*.log
*.rar
*.zip
*.tar.gz
*.htm
*.html
*.tgz
*.txt
!*pinyin.txt
!groundtruth/*
!original/*
*.json
test*
papers/
paper/
distinct/
truth/
writings/
supervised/
rexa_coref_datav0.5/
non-author/
disambiguation/
distinct-intermediate/
wikipedia/*
!wikipedia/*.pl
wikipedia/test*.pl
!wikipedia/*.pm
!wikipedia/csmathling-full.txt
!wikipedia/csmathling.txt
!wikipedia/ic.txt
!wikipedia/morpha
!wikipedia/verbstem.list
